* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

/* HOME */
/* MQ tablet */
/* estilos de body */
body .body-home > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

body .body-home {
  display: grid;
  gap: 10px;
  grid-template-areas: "header-home"  "titulo-main" "main-home" "parrafo1-home" "imagen1-home" "parrafo2-home" "imagen2-home" "parrafo2-home" "imagen2-home" "parrafo1-home" "imagen1-home" "footer-home"; }

/* estilos de header */
header .header-home {
  grid-area: header-home;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  header .header-home .imagen-logo {
    width: 15%; }

/* estilos de main */
main {
  min-height: 100%; }
  main .titulo-main {
    grid-area: titulo-main;
    text-align: center; }
    @media screen and (min-width: 600px) {
      main .titulo-main {
        text-align: center;
        padding: 4rem; } }
  @media screen and (min-width: 600px) {
    main .main-home {
      display: grid;
      justify-items: center;
      justify-content: center;
      align-items: center;
      gap: 10px;
      grid-template-columns: 350px auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "parrafo1-home imagen1-home" "imagen2-home parrafo2-home" "parrafo3-home imagen3-home" "imagen4-home parrafo4-home"; } }
  main .main-home .parrafo1-home {
    grid-area: parrafo1-home;
    margin: 4px; }
    @media screen and (min-width: 600px) {
      main .main-home .parrafo1-home {
        grid-area: parrafo1-home;
        margin: 4px; } }
  main .main-home .imagen1-home {
    width: 30%; }
    @media screen and (min-width: 600px) {
      main .main-home .imagen1-home {
        grid-area: imagen1-home;
        align-items: center; } }
  main .main-home .parrafo2-home {
    grid-area: parrafo2-home;
    margin: 4px; }
    @media screen and (min-width: 600px) {
      main .main-home .parrafo2-home {
        grid-area: parrafo2-home;
        margin: 4px; } }
  main .main-home .imagen2-home {
    width: 30%; }
    @media screen and (min-width: 600px) {
      main .main-home .imagen2-home {
        grid-area: imagen2-home;
        align-items: center; } }
  main .main-home .parrafo3-home {
    grid-area: parrafo3-home;
    margin: 4px; }
    @media screen and (min-width: 600px) {
      main .main-home .parrafo3-home {
        grid-area: parrafo3-home;
        margin: 4px; } }
  main .main-home .imagen3-home {
    width: 30%; }
    @media screen and (min-width: 600px) {
      main .main-home .imagen3-home {
        grid-area: imagen3-home;
        align-items: center; } }
  main .main-home .parrafo4-home {
    grid-area: parrafo4-home;
    margin: 4px; }
    @media screen and (min-width: 600px) {
      main .main-home .parrafo4-home {
        grid-area: parrafo4-home;
        margin: 4px; } }
  main .main-home .imagen4-home {
    width: 30%; }
    @media screen and (min-width: 600px) {
      main .main-home .imagen4-home {
        grid-area: imagen4-home;
        align-items: center; } }

/* estilos de footer */
@media screen and (min-width: 600px) {
  footer .footer-home {
    grid-area: footer-home; } }

/* MQ tablet */
/* SERVICIOS */
/* MQ tablet */
/* Estilos de body */
body .body-servicios > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

body .body-servicios {
  display: grid;
  gap: 10px;
  grid-template-areas: "header-servicios"  "container-servicios" "services-row" "services-box1" "services-box2" "services-box3" "footer-home"; }

/* Estilos de header */
header .header-servicios {
  grid-area: header-servicios;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  header .header-servicios .imagen-logo {
    width: 15%; }

/* Estilos de main */
main #services {
  height: 70vh;
  padding-top: 70px;
  background: #f9f9f9; }
  main #services h2 {
    padding-bottom: 50px; }

main .services-row .services-box {
  float: left;
  width: 33%;
  padding: 20px; }
  main .services-row .services-box img {
    width: 100%;
    padding-bottom: 20px; }

main .services-row .servicios-img1 {
  width: 50%; }

@media screen and (min-width: 600px) {
  main .services-row .services-box1 {
    float: left;
    width: 33%;
    padding: 20px; }
  main .services-row .services-box2 {
    float: left;
    width: 33%;
    padding: 20px; }
  main .services-row .services-box3 {
    float: left;
    width: 33%;
    padding: 20px; }
  main .services-row .services-box img {
    width: 100%;
    padding-bottom: 20px; } }

/* CLIENTES */
/* MQ tablet */
/* estilos de body */
body .body-clientes > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

body .body-clientes {
  display: grid;
  gap: 10px;
  grid-template-areas: "header-clientes"  "main1-clientes" "main2-clientes" "footer-clientes"; }

/* estilos de header */
header .header-clientes {
  grid-area: header-clientes;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  header .header-clientes .imagen-logo {
    width: 15%; }

/* estilos de main */
main .main1-clientes {
  grid-area: main1-clientes; }
  @media screen and (min-width: 600px) {
    main .main1-clientes {
      display: grid;
      gap: 10px;
      align-items: center;
      justify-items: center;
      grid-template-columns: auto 400px auto;
      grid-template-rows: 200px auto;
      grid-template-areas: "imagen1-clientes parrafo1-clientes imagen2-clientes"; } }

main .imagen1-clientes {
  width: 30%; }
  @media screen and (min-width: 600px) {
    main .imagen1-clientes {
      width: 40%; } }

main .main2-clientes {
  grid-area: main2-clientes; }
  @media screen and (min-width: 600px) {
    main .main2-clientes {
      display: grid;
      gap: 10px;
      align-items: center;
      justify-items: center;
      grid-template-columns: auto 400px auto;
      grid-template-rows: 200px auto;
      grid-template-areas: "imagen3-clientes parrafo2-clientes imagen4-clientes"; } }

main .imagen2-clientes {
  width: 30%; }
  @media screen and (min-width: 600px) {
    main .imagen2-clientes {
      width: 40%; } }

main .imagen3-clientes {
  width: 30%; }
  @media screen and (min-width: 600px) {
    main .imagen3-clientes {
      width: 40%; } }

main .imagen4-clientes {
  width: 30%; }
  @media screen and (min-width: 600px) {
    main .imagen4-clientes {
      width: 40%; } }

footer .footer-clientes {
  grid-area: footer-clientes; }

/* BLOG */
/* MQ tablet */
/* estilos de body */
body .body-blog > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

body .body-blog {
  display: grid;
  gap: 10px;
  grid-template-areas: "header-blog"  "main-blog" "parrafo1-blog" "imagen1-blog" "parrafo2-blog" "imagen2-blog" "footer-blog"; }

/* estilos de header */
header .header-blog {
  grid-area: header-blog;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  header .header-blog .imagen-logo {
    width: 15%; }

main .main-blog {
  grid-area: main-blog; }
  @media screen and (min-width: 600px) {
    main .main-blog {
      grid-template-columns: 350px auto;
      grid-template-rows: auto auto;
      grid-template-areas: "parrafo1-blog" "imagen1-blog" "imagen2-blog" "parrafo2-blog"; } }

main .parrafo1-blog {
  grid-area: parrafo1-blog; }
  @media screen and (min-width: 600px) {
    main .parrafo1-blog {
      grid-area: parrafo1-blog; } }

main .imagen1-blog {
  grid-area: imagen1-blog;
  width: 30%; }
  @media screen and (min-width: 600px) {
    main .imagen1-blog {
      grid-area: imagen1-blog; } }

main .parrafo2.blog {
  grid-area: parrafo2-blog; }
  @media screen and (min-width: 600px) {
    main .parrafo2.blog {
      grid-area: parrafo2-blog; } }

main .imagen2-blog {
  grid-area: imagen2-blog;
  width: 30%; }
  @media screen and (min-width: 600px) {
    main .imagen2-blog {
      grid-area: imagen2-blog; } }

/* CONTACTO */
/* MQ tablet */
/* estilos de body */
body .body-contacto > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

body .body-contacto {
  display: grid;
  gap: 10px; }

/* estilos de header */
header .header-contacto {
  grid-area: header-home;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  header .header-contacto .imagen-logo {
    width: 15%; }

/* estilos de main */
main #contac {
  height: 70vh;
  padding-top: 50px; }
  main #contac h2 {
    padding-bottom: 20px; }

main #contact form {
  width: 40%;
  margin: 0 auto; }
  main #contact form .btn {
    width: 100%;
    border-radius: 5px; }

@media screen and (min-width: 600px) {
  main .form-container {
    margin: 100px; } }

/* estilos de footer */
