* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

/* HOME */
/* MQ tablet */
/* estilos de body */
body .body-home > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

body .body-home {
  display: grid;
  gap: 10px;
  grid-template-areas: "header-home"  "titulo-main" "main-home" "parrafo1-home" "imagen1-home" "parrafo2-home" "imagen2-home" "parrafo2-home" "imagen2-home" "parrafo1-home" "imagen1-home" "footer-home"; }

/* estilos de header */
header {
  background-color: #fcfdff; }
  header .header-home {
    grid-area: header-home;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center; }
    header .header-home .imagen-logo {
      width: 15%; }

/* estilos de main */
main {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%); }
  main .titulo-main {
    grid-area: titulo-main;
    text-align: center; }
    @media screen and (min-width: 600px) {
      main .titulo-main {
        text-align: center;
        padding: 4rem; } }
    @media screen and (min-width: 900px) {
      main .titulo-main {
        text-align: center;
        padding: 4rem; } }
  @media screen and (min-width: 600px) {
    main .main-home {
      display: grid;
      justify-items: center;
      justify-content: center;
      align-items: center;
      gap: 10px;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "parrafo1-home imagen1-home" "imagen2-home parrafo2-home" "parrafo3-home imagen3-home" "imagen4-home parrafo4-home"; } }
  @media screen and (min-width: 900px) {
    main .main-home {
      display: grid;
      justify-items: center;
      justify-content: center;
      align-items: center;
      gap: 10px;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "parrafo1-home imagen1-home" "imagen2-home parrafo2-home" "parrafo3-home imagen3-home" "imagen4-home parrafo4-home"; } }
  main .main-home .parrafo1-home {
    grid-area: parrafo1-home;
    margin: 4px;
    padding: 50px; }
    @media screen and (min-width: 600px) {
      main .main-home .parrafo1-home {
        grid-area: parrafo1-home;
        margin: 4px;
        padding: 50px; } }
    @media screen and (min-width: 900px) {
      main .main-home .parrafo1-home {
        grid-area: parrafo1-home;
        margin: 4px;
        padding: 50px; } }
  main .main-home .imagen1-home {
    width: 40%; }
    @media screen and (min-width: 600px) {
      main .main-home .imagen1-home {
        grid-area: imagen1-home;
        align-items: center; } }
    @media screen and (min-width: 900px) {
      main .main-home .imagen1-home {
        grid-area: imagen1-home;
        align-items: center; } }
  main .main-home .parrafo2-home {
    grid-area: parrafo2-home;
    margin: 4px;
    padding: 50px; }
    @media screen and (min-width: 600px) {
      main .main-home .parrafo2-home {
        grid-area: parrafo2-home;
        margin: 4px; } }
    @media screen and (min-width: 900px) {
      main .main-home .parrafo2-home {
        grid-area: parrafo2-home;
        margin: 4px; } }
  main .main-home .imagen2-home {
    width: 40%; }
    @media screen and (min-width: 600px) {
      main .main-home .imagen2-home {
        grid-area: imagen2-home;
        align-items: center; } }
    @media screen and (min-width: 900px) {
      main .main-home .imagen2-home {
        grid-area: imagen2-home;
        align-items: center; } }
  main .main-home .parrafo3-home {
    grid-area: parrafo3-home;
    margin: 4px;
    padding: 50px; }
    @media screen and (min-width: 600px) {
      main .main-home .parrafo3-home {
        grid-area: parrafo3-home;
        margin: 4px; } }
    @media screen and (min-width: 900px) {
      main .main-home .parrafo3-home {
        grid-area: parrafo3-home;
        margin: 4px; } }
  main .main-home .imagen3-home {
    width: 40%; }
    @media screen and (min-width: 600px) {
      main .main-home .imagen3-home {
        grid-area: imagen3-home;
        align-items: center; } }
    @media screen and (min-width: 900px) {
      main .main-home .imagen3-home {
        grid-area: imagen3-home;
        align-items: center; } }
  main .main-home .parrafo4-home {
    grid-area: parrafo4-home;
    margin: 4px;
    padding: 50px; }
    @media screen and (min-width: 600px) {
      main .main-home .parrafo4-home {
        grid-area: parrafo4-home;
        margin: 4px; } }
    @media screen and (min-width: 900px) {
      main .main-home .parrafo4-home {
        grid-area: parrafo4-home;
        margin: 4px; } }
  main .main-home .imagen4-home {
    width: 40%; }
    @media screen and (min-width: 600px) {
      main .main-home .imagen4-home {
        grid-area: imagen4-home;
        align-items: center; } }
    @media screen and (min-width: 900px) {
      main .main-home .imagen4-home {
        grid-area: imagen4-home;
        align-items: center; } }

/* estilos de footer */
footer {
  background-image: linear-gradient(109.6deg, #dfeaf7 11.2%, #f4f8fc 91.1%); }
  @media screen and (min-width: 600px) {
    footer .footer-home {
      grid-area: footer-home; } }
  @media screen and (min-width: 900px) {
    footer .footer-home {
      grid-area: footer-home; } }

/* MQ tablet */
/* SERVICIOS */
/* MQ tablet */
/* Estilos de body */
body .body-servicios > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

body .body-servicios {
  display: grid;
  gap: 10px;
  grid-template-areas: "header-servicios"  "container-servicios" "services-row" "services-box1" "services-box2" "services-box3" "footer-home"; }

/* Estilos de header */
header .header-servicios {
  grid-area: header-servicios;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  header .header-servicios .imagen-logo {
    width: 15%; }

/* Estilos de main */
main .servicios-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense; }
  main .servicios-galeria .servicios-caja {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  main .servicios-galeria .servicios-caja:hover {
    filter: opacity(0.9);
    transform: scale(1.04); }
  main .servicios-galeria .servicios-imagen {
    width: 100%;
    height: 100%; }
  @media screen and (min-width: 600px) {
    main .servicios-galeria .cajaw {
      grid-column: span 2; }
    main .servicios-galeria .cajat {
      grid-row: span 2; }
    main .servicios-galeria .servicios-caja {
      width: 100%; }
    main .servicios-galeria .servicios-imagen {
      width: 100%;
      height: 100%;
      border-radius: 4px; } }
  @media screen and (min-width: 900px) {
    main .servicios-galeria .cajaw {
      grid-column: span 2; }
    main .servicios-galeria .cajat {
      grid-row: span 2; }
    main .servicios-galeria .servicios-caja {
      width: 100%; }
    main .servicios-galeria .servicios-imagen {
      width: 100%;
      height: 100%;
      border-radius: 4px; } }

/* CLIENTES */
/* MQ tablet */
/* estilos de body */
body .body-clientes > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

body .body-clientes {
  display: grid;
  gap: 10px;
  grid-template-areas: "header-clientes" "main1-clientes" "main2-clientes" "footer-clientes"; }

/* estilos de header */
header .header-clientes {
  grid-area: header-clientes;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  header .header-clientes .imagen-logo {
    width: 15%; }

/* estilos de main */
@media screen and (min-width: 600px) {
  main .main1-clientes {
    display: grid;
    gap: 10px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "imagen1-clientes parrafo1-clientes"; } }

@media screen and (min-width: 900px) {
  main .main1-clientes {
    display: grid;
    gap: 10px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "imagen1-clientes parrafo1-clientes"; } }

main .main1-clientes .imagen1-clientes {
  width: 30%; }
  @media screen and (min-width: 600px) {
    main .main1-clientes .imagen1-clientes {
      width: 40%;
      justify-items: center; } }
  @media screen and (min-width: 900px) {
    main .main1-clientes .imagen1-clientes {
      width: 40%;
      justify-items: center; } }

main .main1-clientes .parrafo1-clientes {
  width: 100%;
  text-align: center;
  justify-items: center; }
  @media screen and (min-width: 600px) {
    main .main1-clientes .parrafo1-clientes {
      width: 100%;
      text-align: center;
      background-color: whitesmoke;
      border: 2px solid #474f58;
      border-radius: 5px; } }
  @media screen and (min-width: 900px) {
    main .main1-clientes .parrafo1-clientes {
      width: 100%;
      text-align: center;
      background-color: whitesmoke;
      border: 2px solid #474f58;
      border-radius: 5px; } }

main .main1-clientes .imagen2-clientes {
  width: 30%; }
  @media screen and (min-width: 600px) {
    main .main1-clientes .imagen2-clientes {
      width: 40%;
      justify-items: center; } }
  @media screen and (min-width: 900px) {
    main .main1-clientes .imagen2-clientes {
      width: 40%;
      justify-items: center; } }

main .main2-clientes {
  display: grid;
  justify-items: center;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "imagen4-clientes" "parrafo2-clientes"; }
  @media screen and (min-width: 600px) {
    main .main2-clientes {
      display: grid;
      gap: 10px;
      align-items: center;
      justify-items: center;
      justify-content: center;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "parrafo2-clientes imagen4-clientes"; } }
  @media screen and (min-width: 900px) {
    main .main2-clientes {
      display: grid;
      gap: 10px;
      align-items: center;
      justify-items: center;
      justify-content: center;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "parrafo2-clientes imagen4-clientes"; } }

main .imagen3-clientes {
  width: 30%; }
  @media screen and (min-width: 600px) {
    main .imagen3-clientes {
      width: 40%; } }
  @media screen and (min-width: 900px) {
    main .imagen3-clientes {
      width: 40%; } }

main .parrafo2-clientes {
  width: 100%;
  text-align: center;
  justify-items: center; }
  @media screen and (min-width: 600px) {
    main .parrafo2-clientes {
      width: 100%;
      text-align: center;
      background-color: whitesmoke;
      border: 2px solid #474f58;
      border-radius: 5px; } }
  @media screen and (min-width: 900px) {
    main .parrafo2-clientes {
      width: 100%;
      text-align: center;
      background-color: whitesmoke;
      border: 2px solid #474f58;
      border-radius: 5px; } }

main .imagen4-clientes {
  grid-area: imagen4-clientes;
  width: 30%;
  justify-content: center;
  justify-items: center; }
  @media screen and (min-width: 600px) {
    main .imagen4-clientes {
      width: 40%;
      justify-items: center; } }
  @media screen and (min-width: 900px) {
    main .imagen4-clientes {
      width: 40%;
      justify-items: center; } }

footer .footer-clientes {
  grid-area: footer-clientes; }

/* BLOG */
/* MQ tablet */
/* estilos de body */
body .body-blog > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

body .body-blog {
  display: grid;
  gap: 10px;
  grid-template-areas: "header-blog"  "main-blog" "parrafo1-blog" "imagen1-blog" "parrafo2-blog" "imagen2-blog" "footer-blog"; }

/* estilos de header */
header .header-blog {
  grid-area: header-blog;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  header .header-blog .imagen-logo {
    width: 15%; }

main .container-card {
  width: 100%; }
  @media screen and (min-width: 600px) {
    main .container-card {
      width: 100%;
      display: flex;
      max-width: 1100px; } }
  @media screen and (min-width: 900px) {
    main .container-card {
      width: 100%;
      display: flex;
      max-width: 1100px; } }
  @media screen and (min-width: 600px) {
    main .container-card .card-blog {
      width: 100%;
      margin: 20px;
      border-radius: 6px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0px 1px 10px black;
      transition: all 400ms ease; } }
  @media screen and (min-width: 900px) {
    main .container-card .card-blog {
      width: 100%;
      margin: 20px;
      border-radius: 6px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0px 1px 10px black;
      transition: all 400ms ease; } }
  main .container-card .card-blog figure img {
    width: 100%;
    height: 210px; }
  main .container-card .card-blog .conteiner-blog {
    padding: 15px;
    text-align: center; }
    main .container-card .card-blog .conteiner-blog p {
      line-height: 1.5;
      color: #6a6a6a; }
    main .container-card .card-blog .conteiner-blog a {
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      margin-top: 10px;
      color: #2fb4cc;
      border: 1px solid #2fb4cc;
      border-radius: 4px;
      transition: all 400ms ease; }
    main .container-card .card-blog .conteiner-blog a:hover {
      background: #2fb4cc;
      color: #fff; }
  @media screen and (min-width: 600px) {
    main .container-card .card-blog:hover {
      box-shadow: 5px 5px 20px black;
      transform: translateY(-3%); } }
  @media screen and (min-width: 900px) {
    main .container-card .card-blog:hover {
      box-shadow: 5px 5px 20px black;
      transform: translateY(-3%); } }

/* CONTACTO */
/* MQ tablet */
/* estilos de body */
body .body-contacto > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

body .body-contacto {
  display: grid;
  gap: 10px; }

/* estilos de header */
header .header-contacto {
  grid-area: header-home;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  header .header-contacto .imagen-logo {
    width: 15%; }

/* estilos de main */
main #contac {
  height: 70vh;
  padding-top: 50px; }
  main #contac h2 {
    padding-bottom: 20px; }

main #contact form {
  width: 40%;
  margin: 0 auto; }
  main #contact form .btn {
    width: 100%;
    border-radius: 5px; }

@media screen and (min-width: 600px) {
  main .form-container {
    margin: 100px; } }

@media screen and (min-width: 900px) {
  main .form-container {
    margin: 100px; } }

/* estilos de footer */
