/* SERVICIOS */

@import "tablet.scss";
@import "computadora";

/* Estilos de body */

body{
    .body-servicios > * {
        box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
        border-radius: 4px;
        padding: 10px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    .body-servicios{
        display: grid;
        gap: 10px;
        grid-template-areas:
        "header-servicios" 
        "container-servicios"
        "services-row"
        "services-box1"
        "services-box2"
        "services-box3"
        "footer-home";
    }
}

/* Estilos de header */

header{
    .header-servicios{
        grid-area: header-servicios;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        .imagen-logo{
            width: 15%;
        }
    }
}

/* Estilos de main */

main{
    .servicios-galeria{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense;
        .servicios-caja{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            transition: transform 0.3s ease-in-out;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .servicios-caja:hover{
            filter: opacity(0.9);
            transform: scale(1.04);
        }
        .servicios-imagen{
            width: 100%;
            height: 100%;
        }
        @include tablet{
        .cajaw{
            grid-column: span 2;
        }
        .cajat{
            grid-row: span 2;
        }
        .servicios-caja{
            width: 100%;
        }
        .servicios-imagen{
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
        }
        @include computadora{
            .cajaw{
                grid-column: span 2;
            }
            .cajat{
                grid-row: span 2;
            }
            .servicios-caja{
                width: 100%;
            }
            .servicios-imagen{
                width: 100%;
                height: 100%;
                border-radius: 4px;
            }
            }
    }

}